* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .top-bar{
    color: black;
    font-size: 25px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 30px;
    position: relative;
    font-family: 'Dancing Script', cursive;
  }
  
  nav ul li a{
    font-size: 17px;
    position: relative;
    color: black;
  }

  .toggle {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    display: none;
    padding-right: 23px;
    padding-top: 27px;

}

.dropdown-menu a{
    font-family: 'Dancing Script', cursive;
    color: black;
}

.dropdown-menu a:hover{
    font-family: 'Dancing Script', cursive;
    color: #d2b48c;
}

  
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: #e3d5c2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 520px;
    display: block;
}


.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.divider {
    color:#d2b48c;
    border: none;
    border-top: 2px solid #d2b48c; /* Adjust the color and thickness as needed */
    margin: 20px 0; /* Add margin to control the distance between the line and content */
}

a::after{
    content: "";
    position: absolute;
    background-color: #d2b48c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: black;
}

a:hover::after{
    width: 100%;
}
  
.divider {
    color:#d2b48c;
    border: none;
    border-top: 2px solid #d2b48c; /* Adjust the color and thickness as needed */
    margin: 20px 0; /* Add margin to control the distance between the line and content */

}

.details-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  }

  .details-image {
    max-width: 625px;
    height: 740px;
    border: 6px solid #d2b48c;
    border-radius: 7%;
  }
  
  .text-container {
    display: block;
    padding: 20px;
    background-color: #d2b48c;
    border-radius: 10%;
    box-shadow: 0 0 15px #db6363;
    box-sizing: border-box;
    height: 450px;
    align-items: center;
    justify-content: center;

  }

  .inner-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
  }
  
  .inner-text h2 {
    /* padding-top: 33px; */
    /* padding-left: 18px; */
    font-family: 'Dancing Script', cursive;
  }
  
  .inner-text p {
    /* padding-top: 27px; */
    font-size: 16px;
    /* padding-left: 18px; */
    font-family: 'Fira Sans', sans-serif;
  }
  
  .inner-text h5 {
    padding-top: 15px;
    font-size: 17px;
    white-space: pre-line;
    font-family: 'Fira Sans', sans-serif;
    text-align: center; 
    margin: 0 auto;
  }
  .button-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .button-container button{
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: #e3cdaf;
    border: none;
    box-shadow: 0 0 15px #252523;
  }

  .footer-content{
    padding-top: 30px;
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    
}

@media screen and (max-width: 1315px) {
  .details-image {
    margin-left: 0;
    margin-top: 0;
    border: none;
    border-bottom: 6px solid #d2b48c;
    border-radius: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-container {
   /* width: 80%;  Adjust the width as needed */
    margin-right: 0;
    margin-top: 0;
    /* height: auto; */
    height: 25em;
}
    .text-container {
        width: 550px; /* Move details container to the left by 30px */
        height: 380px;
    }

    .top-bar {
        padding: 0 20px;
        white-space: nowrap;
        text-overflow: ellipsis; /* Adjust padding as needed */
      }
}

@media screen and  (max-width: 1450px) {
    /* Adjust image size and position for screens between 850px and 1000px */
    .top-bar {
        padding: 0 20px;
        white-space: nowrap;
        text-overflow: ellipsis; /* Adjust padding as needed */
      }
    
      .details-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        }
  }

  @media screen and (min-width: 1403px) and (max-width: 1510px) {

    .top-bar {
        font-size: 25px; /* You can adjust the font size as needed */
        padding: 0 20px;
        white-space: nowrap;
        text-overflow: ellipsis; /* Adjust padding as needed */
      }

    nav ul {
        display: flex;
    }

    .toggle {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }
}
@media screen and (max-width: 1160px) {
  .details-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
    .text-container {
      width: 80%; /* Adjust the width as needed */
      
    }

    .button-container{
      padding-top: 20px;
    }
}

@media screen and (max-width: 480px) {
  .dropdown-menu li {
       font-size: 19px;
}
}

 @media (max-width: 443px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
  
    .text-container {
      width: 90%; /* Adjust the width as needed */
      
    }

    .h5 {
        max-width: 60%;
        word-wrap: break-word;
    }
    .button-container button{
      padding: 10px;
    }
  
  }

@media screen and (max-width: 1400px) {
  .top-bar {
    font-size: 25px;
    /* You can adjust the font size as needed */
    padding: 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Adjust padding as needed */
  }

    nav ul {
    display: none;
  }


  .toggle {
    display: block; /* This line is causing the toggle to be visible */
  }

}
